<nav class="mb-3" style="background-color: rgb(158, 76, 179)">
  <div class="row">
    <div class="col titulos">
      <ul class="nav">
        <li class="nav-item">
          <span class="navbar-text">
            <a class="nav-link active titulo" aria-current="page" routerLink="/home">Home</a>
          </span>
        </li>
        <li class="nav-item">
          <span class="navbar-text">
            <a class="nav-link active titulo" aria-current="page" routerLink="/home">Dashboard</a>
          </span>
        </li>
        <li class="nav-item">
          <span class="navbar-text">
            <a class="nav-link active titulo" aria-current="page" routerLink="/home">Relatório</a>
          </span>
        </li>
        <li class="nav-item">
          <span class="navbar-text">
            <a class="nav-link active titulo" aria-current="page" routerLink="/home">Biblioteca</a>
          </span>
        </li>
      </ul>
    </div>
    <div class="col login nav">
      <span class="nav">
        <a class="nav-link active titulo" aria-current="page" routerLink="/login">
          Login
          <i class="bi bi-box-arrow-in-left"></i>
        </a>
      </span>
    </div>
  </div>

</nav>